<div class="col-md-6">
  <%= link_to "&larr; return home".html_safe, root_path %>
  <h2>Your information</h2>
  <%= simple_form_for @plaintiff do |f| %>
    <%= f.input :fullname %>
    <%= f.input :street_address1 %>
    <%= f.input :street_address2 %>
    <%= f.input :postal_code %>
    <%= f.input :country_code %>
    <%= f.input  :phone %>
    <%= f.input :email %>
    <br/>
    <%= f.button :submit, :class => "btn btn-primary" %>
    <%= link_to "Cancel", root_path, :class => "btn btn-default" %>
  <% end %>
</div>
