<!DOCTYPE html>
<html>
  <head>
    <title>NYC "Riding Outside the Bike Lane" Class Action Lawsuit</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYBkAMYhjW9RnyzD_CmToPaLsahCOsN9I&sensor=false"></script>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-dismissable alert-<%= name == :notice ? "success" : "danger" %>">
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>

    <h1 id="logo"><%= link_to root_path do %><span class="nyc">NYC</span> <span class="bike-lane">Bike Lane Ticket</span> Class Action Lawsuit<% end %></h1>
    <div class="row">
      <%= yield %>
      <%= image_tag('bg_side.jpg', :class => "gutter-image") %>
    </div>

    <footer>
      Side photo (CC) <a href="http://www.flickr.com/photos/notionscapital/9565353765/" target="_blank">Mike Licht</a>
    </footer>
  </body>
</html>
